@page "/"

<PageTitle>Book Reviews</PageTitle>

<h1>Book Reviews</h1>

<img src="./img/book.jpeg" alt="Hero Image" style="max-height: 700px; max-width: 100%;" />

<p> Welcome to book web app, where we do reviews and display all rating and review collection. This is where we get all the best book reviews and outstanding ratings </p>

<p> we have great slection to choose  from.</p>